 * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
 }
 /* First Section of Page */
 .container1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding-left: 160px;
    padding-right: 160px;
    width: 100%;
    height: 400px;
    flex: 1;
 }
 .container2{
    display: flex;
    align-items: center;
    background-color: #1f2937;
    padding-left: 160px;
    padding-right: 160px;
    color: white;
    width: 100%;
 
 
 }

 .container1text{
    display: flex;
    margin-right: auto;
    flex-direction: column;
    text-wrap: wrap;
    width: 50%;
    gap: 5px   


 }

 button{
    background-color: #3882F6;
    color: white;
    width: 90px;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    border: none;
    padding: 5px;

 }
 a{
    padding: 10px; 
    text-decoration: none;
    color: white;
      
    
 }
 img{
    width: 400px;
    height: 200px;
 }

 nav{
    display: flex;
    gap: 10px;
    margin-left: auto;
 }

 header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
 }

 .container1 header{
    align-items: flex-start;

 }

 /* First Section of Page End*/



 /*Second Section of Page*/

 .s2container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: black;
    padding-left: 160px;
    padding-right: 160px;
    width: 100%;
    height: 400px;
    text-wrap: wrap;
    flex: 1;
    

 }

 .h2s2 {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;

 }

 .box {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-color:#3882F6;
    border-radius: 8px;
 }

 .s2container2 {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: auto;
    
 }

 .s2textboxalign {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
   
    
 }

 /*Second Section of Page End*/


  /*Third Section of Page*/
 .s3container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color:#E5E7EB ;
    padding-left: 200px;
    padding-right: 200px;
    flex-direction: column;
    
 }
 .s3quote{
    font-size: 36px;
    opacity: 0.5;

 }

 .s3thor{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-left: 200px;
    padding-right: 100px;
 }
 /*Third Section of Page End*/


 /*Forth Section of Page*/


 .s4container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color:#ffffff ;
    padding-left: 200px;
    padding-right: 200px;
  
    color: white;
 }

 .s4bluebox {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    

 }

 .s4signup {
    border: 2px solid white;
    border-radius: 5px;
    margin: auto;
    
 }

 .s4text{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: auto;

 }